:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color-black: #212121;
  --main-color-grey: #757575;
  --accent-color-blue: #2196f3;
  --accent-color-black: #000000;
  --accent-color-white: #ffffff;
  --accent-color-white-transparence: rgb(255, 255, 255, 0.6);
  --footer-bcg: #2f303a;
}

body {
  font-family: var(--main-font);
}

/* ========== COMPONENTS ========== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

/* ========== END COMPONENTS ========== */

/* ========== HEADER ========== */

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  color: var(--accent-color-black);
  text-decoration: none;
  list-style-type: none;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.logo-wrap {
  color: var(--accent-color-blue);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color-blue);
}

.site-nav-items {
  list-style-type: none;
}
.site-nav-link {
  text-decoration: none;
  color: var(--main-color-black);
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  font-weight: 500;
}
/* .site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color-blue);
} */

.contacts {
  list-style-type: none;
  font-style: normal;
}
.site-nav-contacts {
  color: var(--main-color-grey);
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  font-weight: 500;
}
/* .site-nav-contacts:hover,
.site-nav-contacts:focus {
  color: var(--accent-color-blue);
} */

/* ========== END HEADER ========== */

/* ========== FOOTER ========== */

footer {
  background-color: var(--footer-bcg);
}
.footer-items {
  list-style-type: none;
  font-style: normal;
}
.footer-contacts {
  font-family: var(--main-font);
  color: var(--accent-color-white-transparence);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.logo-footer {
  color: var(--accent-color-white);
}
.map {
  color: var(--accent-color-white);
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color-blue);
}
/* ========== END FOOTER ========== */

/* ========== HERO ========== */
.hero {
  font-family: var(--main-font);
  font-weight: 900;
}

/* ========== END HERO ========== */
